- cache('hot_events_widget', expires_in: 1.hour) do
  - force_show = force_show == true
  - events = PostEvent \
              .includes(:post, post: [:votes, :user, :bookmarks]) \
              .upcoming_first \
              .limit(2)

  / If force_show is enabled, show hot events from now to infinity, not jus from
  / two weeks ahead.
  - events = force_show ? events.upcoming_4_months.hot : events.upcoming_hot

  - col_class = events.length > 1 ? 'col-6' : 'col-12'

  - if events.length > 0
    .main-content-inner.p-3.hot-events
      h6.mb-3.fw-bold 🔥 &nbsp;Popularne nadchodzące wydarzenia

      .row.no-gutters
        - events.each do |event|
          - thumb_size = events.length > 1 ? '397x225#n' : '793x225#n'

          div(class=col_class)
            .card(style="background-image: url(#{event.post.thumb.thumb(thumb_size).url})")
              .card-body
                .hot-events-item-left
                  .posts-item-vote-wrap
                    post-vote-btn(
                      post-guid=event.post.token
                      :voted=event.post.user_voted?(current_user).to_s
                      :votes-count=event.post.votes_count.to_s
                    )

                .hot-events-item-body
                  - if event.beginning_at.present?
                    ul.list-inline.events-item-beginning-at
                      li.list-inline-item
                        event-beginning-at(date-time=event.beginning_at.iso8601)

                      - if event.city.present?
                        li.list-inline-item
                          | &#8226;

                        li.list-inline-item
                          a.events-item-city(href=events_path(q: event.city))
                            = event.city


                  h3.posts-item-title.text-truncate
                    a(href=build_post_path(event.post))
                      = event.post.title
