.sidebar-similar-events {
  font-size: 14px;

  img {
    border-radius: 3px;
  }

  a {
    color: inherit;
  }

  .row {
    margin-bottom: 1em;
  }
}

.sidebar-similar-events .list-inline:first-child {
  margin-bottom: 0.6em;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #969696;
}

.sidebar-similar-events h4 {
  font-size: 14px;
  margin-bottom: 0.3em;
}

.sidebar-similar-events .list-inline:last-child {
  font-size: 0.9em;
  color: #757575;
}
