/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Open Sans", sans-serif;
  background: #eee;
}

/*  */

.navbar {
  padding-top: 1em;
  padding-bottom: 5em;
  font-family: 'Roboto mono', monospace;
}

.navbar-brand {
  font-size: 1.75rem;
}

.navbar .navbar-nav li {
  margin-left: 1em;
}

.navbar .btn-outline-light:hover {
  background-color: #efdde0;
  border-color: #efdde0;
}

/*  */

.main-content {
  margin-top: -3em;
}

.main-sidebar {
  padding-top: 1.5em;
  font-family: 'Roboto mono', monospace;
}

.main-sidebar input[type="search"] {
  border-radius: 20px;
  background: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.main-sidebar h3 {
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #777;
  padding-bottom: 0.5em;
}

.main-sidebar-tag {
  margin-bottom: .3em;
}

.main-sidebar-tag .btn {
  border-color: rgba(0, 0, 0, 0.15);
}

.main-sidebar-events li {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
  padding: 0.8em 0;
}

.main-sidebar-events-meta {
  color: #999;
  font-size: .8em;
}

.main-sidebar-events h3 {
  margin: 0;
}

.main-sidebar-events h4 {
  font-size: 0.8em;
  font-weight: 600;
  margin: 0;
}

/*  */

.main-content-inner {
  border-radius: 3px;
  background: #fff;
}

.main-content-nav {
  padding: 0.9em 1.3em;
  border-bottom: 1px dashed #bbb6c8;
  font-size: .9em;
}

.main-content-nav a {
  color: inherit;
}

.main-content-nav a.active {
  font-weight: bold;
}

.main-content-nav .list-inline-item {
  margin-right: 1.5em;
}

.main-content-heading {
  background: #efdde0;
  padding: 1.3em;
  font-size: 1.3em;
  font-family: 'Roboto Mono', monospace;
}

/*  */

.posts-item {
  padding: 1.3em;
  border-bottom: 1px dashed #bbb6c8;
}

.posts-item-vote {
  margin-right: 1em;
  height: 48px;
  padding: .375rem 0rem;
  width: 36px;
  font-size: 0.9rem;
}

.posts-item-avatar img {
  height: 20px;
  border-radius: 50%;
  margin-top: -3px;
}

.posts-item-thumb {
  width: 59px;
  height: 48px;
  margin-right: 1em;
  background-size: cover;
  border-radius: 3px;
}

.posts-item-title {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.posts-item-title a {
  color: #444;
}

.posts-item-title a:visited {
  color: #777;
}

.posts-item-meta {
  font-size: .8rem;
  color: #888;
}

.posts-item-meta a {
  color: #888;
}

/*  */
